* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #9e9e9e3b;
    scroll-behavior: smooth;
}

main {
    min-height: 80vh;
}

@media only screen and (min-width: 250px) {

/* *******************************
*********HEADER IMAGE***********
******************************* */

.header__bg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url('../img/Movies.png');
    width: 100%;
    height: 200px;
}
.header__bg h1 {
    color: white;
    font-size: 3em;
}

.header__bg a {
    text-decoration: none;
    padding-left: 50px;
}

/* *******************************
*********HEADER NAV***********
******************************* */

.searchNav {
    display: none;
}

nav a {
    color: white;
    text-decoration: none;
}


nav > ul {
    position: fixed;
    top: -100%;
    width: 100vw;
    height: auto;
    flex-direction: column;
    background-color: #0F5494;
    text-align: center;
    transition: 0.25s;
}

.listeDeroulante {
    color: white;
    cursor: pointer;
}

.sous-nav {
    display: none;
    transition: 0.5s;
    z-index: 3;
}

.listeDeroulante:hover .sous-nav {
    display: block;
}

.active {
    display: block;
}


#icons {
    display: block;
}

#icons:before {
    content: "\2630";
    color: #2585CA;
    padding: 15px;
    font-size: 1.5em;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    top: -10px;
    right: -12px;
    z-index: 4;
    cursor: pointer;
}

.active #icons:before {
    content: "\2715";
    z-index: 3;
}

nav.active ul {
    z-index: 2;
    top: 0;
}

nav li {
    padding: 10px 0;
}

/* *******************************
*********HEADER Caroussel***********
******************************* */

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 12px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .swiper-slide img {
    display: block;
    border-radius: 14px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiperCadreText {
    position: absolute;
    bottom: 0px;
    left: 50px;
    height: 80px;
    width: 60%;
    background-color: rgba(128, 128, 128, 0.75);
    border-radius: 0px 15px 50px 0px;
    border-left: 3px solid red;
  }

  .swiperCadreText > h2 {
    color: white;
  }

  .swiperCadreText > p {
    color: white;
  }

  .swiperCadreText > p {
    width: 70%;
    padding: 10px 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 50%;
  }


/* *******************************
************   Body   ************
******************************* */

.backPage {
    padding-top: 15px;
    padding-left: 5px;
}

.searchBar form {
    padding: 20px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.research {
    padding: 0 15px;
    height: 28px;
    width: 70%;
    border-radius: 15px;
    border: 1px solid;
}

.searchBar button {
    font-size: 1em;
    background: none;
    border: none;
}

.fa-magnifying-glass {
    padding: 0 5px;
    color: white;
    cursor: pointer;
}

/* *******************************
************  VUES ACCEUIL  ************
******************************* */

#carousel {
    color: black;
}

#titleSection {
    
    padding: 10px;
    margin: 10px;
    font-size: 1.6em;
    background-color: #b1d6f186;
    border-left: solid 4px #103956;
    color: #004170;
    width: fit-content;
}

.SectionTitle {
    width: fit-content;
}

.afficherTitreFilm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.afficheFilm {
    height: 245px;
    width: 80%;
    text-align: center;
    border-radius: 14px;
}

.film {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}

.film img {
    object-fit: cover;
    margin: 0 20px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

.film a {
    text-align: center;
    font-weight: 500;
    font-size: 1em;
    width: 100%;

}

.viewAll {
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

.afficheActeur, .afficheReal {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
    border: 1px solid #f1f1f1;
}

.afficherActeurs, .afficherRealisateurs {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 20px 0px;
}

.acceuil {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.acceuil a {
    padding: 5px 0;
}

a {
    color: black;
}

.home__buttons {
    display: flex;
    justify-content: end;
    align-items: center;
}

.button{
    background-color: #17527D;
    color: white;
    font-weight: 500;
    padding: .5rem 1.5rem .5rem .5rem;
    border-radius: 4rem;
    display: inline-flex;
    align-items: center;
    justify-content: end;
    column-gap: .75rem;
  }
  
  .button span {
    background-color: white;
    color: #17527D;
    padding: .5rem;
    font-size: 1.25rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: transform .4s;
  }
  
  .button:hover span {
    transform: translateX(.15rem) rotate(-30deg)
  }
  
  .button__link {
    font-weight: 400;
    transition: color .4s;
  }

/* *******************************
************  VUES Liste Film  ************
******************************* */

.listFilms {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.acceuilFilm {
    padding: 10px 0;
    width: 95vw;
    text-align: center;
    position: relative;
}

.acceuilFilm img {
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

.acceuilFilm span {
    font-weight: 700;
}

#titleFilm {
    position: absolute;
    text-align: center;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-weight: 600;
    height: 30px;
    bottom: 90px;
    left: 20%;
    right: 20%;

    color: #012641;
    background-color: #ffffffcb;
    border: solid 2px #103956;

}

.note {
    visibility: hidden;
}

.star {
    visibility: visible;
    font-size: 1.5em;
}

.yellow {
    color: rgb(211, 147, 9);
}


.caseFormulaire option {
    height: 50px;
}

/* *******************************
************  VUES Liste Acteur  ************
******************************* */

.listActeur {
    padding: 15px 0;
    text-align: center
}

.listActeur img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.listActeur a {
    font-size: 1.3em;
}

.listActeur p {
    padding: 5px 0;
}

.listActeur span {
    font-weight: 800;
}

/* *******************************
************  VUES Liste Réalisateur  ************
******************************* */

.listRealisateur {
    padding: 15px 0;
    text-align: center
}

.listRealisateur img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.listRealisateur a {
    font-size: 1.3em;
}

.listRealisateur p {
    padding: 5px 0;
}

.listRealisateur span {
    font-weight: 800;
}

/* *******************************
************  VUES Liste Role  ************
******************************* */
.listRoles {
    padding: 15px 0;
}

.listRole {
    padding: 15px 0;
    height: 120px;
}


.listRole h2 {
    text-align: center;
}

.listRole h3 {
    padding-top: 10px;
    text-align: center;
    font-style: italic;
}

.listRole p {
    padding-top: 10px;
    text-align: center;
    font-size: 1.3em;
}

/* *******************************
************  VUES Liste Categorie  ************
******************************* */

.listCategorie {
    text-align: center;
}

.listCategorie h2 {
    padding-bottom: 30px;
}

.listCategorie li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 1.5em;
    padding: 5px 0;
}

.listCategorie a {
    background-color: #0093fc60;
    padding: 20px;
    border-radius: 14px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.418) 0px 3px 8px;
}

/* *******************************
****  Vues Detail Categorie  *****
******************************* */

.detailCategorie h2 {
    text-align: center;
}

.detailCategorie ul {
    padding: 15px 0;
}

.detailCategorie li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 1.5em;
    padding: 5px 0;
}

.backCategorie {
    padding-bottom: 15px;
    padding-left: 5px;
}

/* *******************************
*******  Vues Detail Film  *******
******************************* */

.detFilms {
    padding: 15px 0;
}

.detFilms figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detFilms img {
    height: auto;
    width: 90%;
    border-radius: 14px;
}

.detFilms h2 {
    text-align: center;
    padding-bottom: 10px;
}

.detFilms p {
    padding-left: 5px;
    padding-bottom: 5px;
}

.detail {
    font-weight: 600;
    font-size: 1.2em;
}

.listRoleFilm h2 {
    padding: 15px 0px;
}

.listRoleFilm li {
    padding: 15px 0px;
    text-align: center;
}

.editOrDel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editOrDel i {
    font-size: 2em;
    padding: 5px 20px;
    color: #004170;
}

.noteCenter {
    padding: 15px 0;
    text-align: center;
}


.roleActeur {
    position: relative;
    list-style: none;
}

#trashActor {
    position: absolute;
    right: 10px;
    font-size: large;
}


.alert {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}


.alertBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding: 10px 0;
    background-color: #1d7abd65;
    border: solid 2px #004170;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
    transition: all 0.25s;
}

.alertBox p {
    padding: 15px 0;
}

.alertBox button {
    padding: 15px 15px;
    font-weight: 600;
}

.alertDisplayOff {
    background-color: rgba(255, 0, 0, 0.226);
    border: solid 2px rgba(255, 0, 0, 0.466);
    border-radius: 14px;
}

.alertDisplayOn {
    background-color: rgba(5, 94, 20, 0.226);
    border: solid 2px rgba(5, 94, 20, 0.426);
    border-radius: 14px;
}

.alertOnOff {
    display: flex;
}

#alertOn, #trashActor {
    border: none;
    background: none;
}

/* *******************************
*****  VUES Detail personne  *****
******************************* */

.detailPersonne figure {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.detailPersonne img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.detailPersonne h2 {
    text-align: center;
    padding-bottom: 15px;
}

.detailPersonne li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.detailPersonne p {
    font-size: 1.2em;
}

.noFilm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    text-align: center;
}

.DetPersonneTitle {
    padding-top: 15px;
}
/* *******************************
*****  VUES Detail personne  *****
******************************* */

.detRoles figure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.detRoles img {
    height: 400px;
    width: 80%;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

.detRoles h2 {
    text-align: center;
}

.detRoles h3 {
    padding: 15px 0;
    text-align: center;
}

.detRoles p {
    text-align: center;
}

/* *******************************
************  GESTION  ************
******************************* */

.wrapperGestion {
    height: 100%;
}

#monFormulaire {
    font-size: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#monFormulaire label {
    padding: 10px 0;
}

#monFormulaire button {
    margin-top: 10px;
    padding: 10px 20px;
    border-color: #004170;
    background-color: #2585ca17;
    border-radius: 10px;
}

#choixFormulaire {
    height: 50px;
    text-align: center;
    width: 80%;
}

.wrapperGestion figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapperGestion h3 {
    padding-top: 15px;
}

.wrapperGestion img {
    padding: 15px 0;
    height: 300px;
    width: 80%;
}

.titleFormulaire {
    font-size: 2em;
    padding: 15px 0;
}

.caseFormulaire label {
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 0;
}

.caseFormulaire input {
    height: 30px;
    width: 70%;
    text-align: center;
    margin: 5px;
}

.caseFormulaire select {
    height: 30px;
    width: 70%;
    text-align: center;
    margin: 5px;
}

.caseFormulaireCheckbox legend {
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caseFormulaireCheckbox label {
    font-size: 1.2em;
    padding: 5px 5px;
}

.checkboxAll {
    padding-left: 15px;
}

.validation {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.validation input {
    padding: 20px 40px;
    border-radius: 20px;
    border-color: #004170;
    background-color: #2585ca17;
}

/*=============== SCROLL UP ===============*/
.scrollup {
    position: fixed;
    right: 3rem;
    bottom: -50%;
    height: 40px;
    width: 40px;
    background-color: #17527D;
    border-radius: 50%;
    color: white;
    box-shadow: 0 12px 24px #05070f80;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.25rem;
    z-index: 2;
    transition: bottom .6s, transform .4s;
  }
  
  .scrollup:hover {
    transform: translateY(-.5rem);
  }
  /* Show Scroll Up */
  .show-scroll {
    bottom: 30px;
  }





/* *******************************
************  FOOTER  ************
******************************* */

footer {
    width: 100%;
    background-color: #0F5494;
}

footer h2 {
    color: white;
}

footer p {
    color: white;
}

footer h2 {
    padding-top: 10px;
}

footer h2, p {
    padding-left: 10px;
}

footer a {
    color: white;
    text-decoration: underline;
}

.reseau {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.reseau i {
    color: white;
    margin: 0 15px;
    font-size: 1.5em;
}

#copyright {
    display: flex;
    justify-content: center;
}


}

@media only screen and (min-width: 650px) { 

    /********************************
    ************  VUES ACCEUIL  ************
    ******************************* */
    
    .afficherTitreFilm {
        font-size: 1.5em;
    }

    .film {
        overflow: hidden;
        object-fit: cover;
        position: relative;
    }

    .hoverFilm {
        font-size: 0.7em;
        text-align: center;
        width: 89%;
        position: absolute;
        top: -100%;
        border-radius: 14px;
        backdrop-filter: blur(14px); 
        background-color: rgba(255, 255, 255, 0.4); 
        padding: 10px; 
        text-align: center; 
    }

    .film:hover {
        transform: scale(1.02);
        transition: all 0.4s;
    }

    .film:hover .hoverFilm {
        top: 0;
        transition: all 0.8s;
    }
    
    .afficheFilm {
        height: 500px;
        width: 80%;
        text-align: center;
        border-radius: 14px;
    }
    
    .afficheActeur, .afficheReal {
        height: 160px;
        width: 160px;
        border-radius: 50%;
    }
    
    .afficherActeurs, .afficherRealisateurs {
        font-size: 1.5em;
    }
    .detFilms img {
        height: auto;
        width: 50%;
        border-radius: 14px;
        box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
    }

    .acceuilFilm img {
        width: 70%;
        height: auto;
    }

    .listRealisateur img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
        border: 1px solid #f1f1f1;
    }
    .listActeur img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
        border: 1px solid #f1f1f1;
    }

    .wrapperGestion img {
        width: 50%;
    }

    .detRoles img {
        height: 400px;
        width: 50%;
        border-radius: 14px;
        box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
    }
    
      .swiper-slide {
        font-size: 18px;
      }
    
      .swiperCadreText {
        position: absolute;
        bottom: 0px;
        left: 150px;
        height: 80px;
        width: 60%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.60);
        border-radius: 0px 15px 50px 0px;
        border-left: 5px solid red;
      }
    
      .swiperCadreText > p {
        width: 70%;
        padding: 10px 0;
      }
}

@media only screen and (min-width: 900px) {

    .swiper-button-next,
    .swiper-button-prev {
      height: 60px;
      width: 60px;
    }

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        background-color: rgba(0, 0, 0, 0.747);
        transform: scale(1.1);
        transition: all .4s;
    }
  

    .acceuilFilm img {
        width: 50%;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
    }

    #titleFilm {
        width:fit-content;
        margin: auto;
        padding: 0 10px;
    }
    .detRoles {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .detRoles img {
        height: 500px;
        width: 70%;
        border-radius: 14px;
        box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
    }

 }

@media only screen and (min-width: 1024px) {
    main {
        margin: 0 auto;
        max-width: 1024px;
    }

    nav a {
        color: white;
        text-decoration: none;
    }
    
    
    nav > ul {
        position: relative;
        top: 0;
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 0px;
        list-style: none;
        transition: 0.25s;
    }

    nav li {
        padding: 15px 90px;
        position: relative;
        font-size: 1.2em;
    }
    
    .listeDeroulante {
        color: white;
        position: relative;
        cursor: pointer;
    }
    
    .sous-nav {
        display: none;
        position: absolute;
        top: 65px;
        left: -15px;
        list-style: none;
        background-color: #0F5494; /* Centrer horizontalement */
        width: auto;
        transition: 0.5s;
    }

    .sous-nav li:hover {
        background-color: #2585CA;
    }

    .active {
        display: block;
    }
    
    .listeDeroulante:hover .sous-nav {
        display: block;
    }
    
    
    #icons {
        display: none;
    }
    
    #icons:before {
        display: none;
    }
    
    .active #icons:before {
        display: none;
    }
    
    nav.active ul {
        display: none;
    }

    .searchNav {
        display: block;
        position: absolute;
        width: 400px;
        top: 205px;
        right: 0;
    }

    .searchNav form {
        padding: 20px 0;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .research {
        padding: 0 10px;
        height: 28px;
        width: 70%;
        border-radius: 15px;
        border: 1px solid;
    }
    
    .searchNav button {
        font-size: 1em;
        background: none;
        border: none;
    }
    
    .searchNav i {
        padding: 0 5px;
    }

    .searchBar {
        display: none;
    }
    
    figure img {
        display: block;
        width: 80vw;
        height: 200px;

    }
    
    figure h1 {
        padding: 35px 0;
    }

    .listFilms {
        width: auto;
        display: grid;
        grid-template-columns: repeat(2, 400px);
        justify-items: center;
    }

    .acceuilFilm {
        width: auto;
    }


    .acceuilFilm img {
        width: 80%;
        height: 500px;
        box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
    }

    .listActeurs,
    .listRealisateurs,
    .listRoles,
    .listCategorie {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    .listRoles hr,
    .listCategorie hr {
        display: none;
    }

    .listRole {
        border: 1px solid;
        border-radius: 14px;
        transition: .5s;
    }

    .listRole:hover {
        background-color: #2585ca57;
    }

    .detailPersonne img {
        width: 350px;
        height: 350px;
        box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
    }

    .wrapperGestion img {
        height: 500px;
    }

    .detRoles {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .detRoles img {
        height: 600px;
        width: 90%;
        object-fit: cover;
        border-radius: 14px;
        box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
    }

    .aucunResultat {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notFoundresearch {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .textAucunResultat {
        flex-direction: column;
        text-align: center;
        line-height: 2rem;
    }

    .textAucunResultat span {
        color: #3a78a5;
    }

    .notFoundresearch img {
        height: 500px;
        width: 90%;
    }

 }